@page
@model IndexModel
@{
    ViewData["Title"] = "Ignitis - Testinė Užduotis";
}

<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container_1">
        <div class="container">
            <header class="header">
                <img src="/images/ignitislogo.png" alt="Ignitis" class="logo">
            </header>

            <div class="content">
                <section class="article">
                    <img src="/images/kaunas.jpg" alt="Kauno Hidroelektrinė" class="article-img">
                    <h2>6 įdomybės apie vieną didžiausių žaliųjų elektrinių Lietuvoje</h2>
                    <p>Kauno hidroelektrinė – viena didžiausių žaliąją energiją gaminanti elektrinė Lietuvoje. Kviečiame susipažinti su ja artimiau ir sužinoti, kaip ji prisideda prie švaresnės elektros gamybos, kodėl nepatartina pėsčiomis eiti aplink marias ir kokia stichija sunaikino du Kauno tiltus.</p>
                    <a href="#" class="button">Sužinoti daugiau</a>
                </section>

                <section class="article">
                    <img src="/images/ignitis_5.png" alt="Man Working" class="article-img">
                    <h2>5 dalykai, kurių nebandė šioje svetainėje</h2>
                    <p>Nežinome, ar patikėsite, bet yra svetainė, kurioje galite ne tik atsiskaityti su net 300 įvairių tiekėjų vos viena sąskaita, padengti savo močiutės komunalinių paslaugų sąskaitą ar paanalizuoti savo vartojimo įpročius, o tada juos</p>
                    <a href="#" class="button">Skaityti toliau</a>
                </section>

                <section class="article">
                    <img src="/images/elektro.jpg" alt="Electric Cars" class="article-img">
                    <h2>Svajojate apie elektromobilį? Dalinamės elektromobilių ABC!</h2>
                    <p>Jei jau vairuojate elektromobilį – sveikiname! Jei dar tik ketinate jį įsigyti – drąsiname ir dalinamės „Ignitis ON“ parengta elektromobilių abėcėle:</p>
                    <ul class="styled-list">
                        <li><span> Elektromobilių duomenų bazė</span></li>
                        <li><span> Kaip įkrauti elektromobilį?</span></li>
                        <li><span> Įkrovimo jungtys</span></li>
                        <li><span> Įkrovimo stotelių žemėlapis</span></li>
                        <li><span> ...ir dar daugiau</span></li>
                    </ul>
                </section>
            </div>

            <footer class="comments">
                <p>Ačiū, kad esate su mumis</p>
                <p>Jūsų „Ignitis“ komanda</p>
                <div class="social-icons">
                    <a href="#"><img src="/images/facebook.jpg" alt="Facebook"></a>
                    <a href="#"><img src="/images/youtube.png" alt="YouTube"></a>
                    <a href="#"><img src="/images/linkedin.png" alt="LinkedIn"></a>
                </div>
            </footer>
           
        </div>
        <p class="footer-text">
            Šį laišką gavote, nes sutikote gauti informaciją apie UAB „Ignitis“ paslaugas bei pasiūlymus.
        </p>
        <p class="footer-text">Jei informacija Jums neaktuali, galite jos atsisakyti.</p>
        
    </div>
  
</body>
</html>
